@use "_var.scss" as var;
@use "sass:color" as clr;

nav {

    background-color:clr.adjust(var.$clr-offBlack-trans, $lightness: -15%, $alpha: 0.05);

    box-shadow: 0 5% 30% clr.adjust(var.$clr-offBlack-trans, $lightness: -5%);
    backdrop-filter: blur(8.3px);


    > * {

        transition: 0.2s;

        color: var.$clr-green;

    }

    > a:hover {

        transition:0.2s;

        color: var.$clr-pink;
        
    }


}

.content {

    background-color: var.$clr-offBlack;
}

