@use "_var.scss" as var;
@use "sass:color" as clr;

* {

    a:hover {

        transition:0.2s;

        color: var.$clr-pink;
        
    }
}

nav {

    background-color:clr.adjust(var.$clr-offBlack-trans, $lightness: -15%, $alpha: 0.05);

    box-shadow: 0px 10px 30px clr.adjust(var.$clr-offBlack-trans, $lightness: -5%);

    backdrop-filter: blur(8.3px);


    > * {

        transition: 0.2s;

        color: var.$clr-green;

    }

    > a:hover {

        transition:0.2s;

        color: var.$clr-pink;
        
    }


}

.content {

    background-color: var.$clr-offBlack;

    background-image:
    linear-gradient((var.$clr-offBlack-demi), var.$clr-offBlack-demi),
    url("/img/noisy.webp");

    background-size: 200px 200px;
}

hr {

    border: var.$clr-green solid 1px;

    margin-top: 5%;

    margin-bottom: 5%;
}

.insertedDiv {

    background-color: var.$clr-offBlack;

    border: var.$clr-green solid 1px;

    box-shadow: 0 0 10px 5px clr.adjust(var.$clr-green-trans, $lightness: -10%);
    backdrop-filter: blur(8.3px);

}

.internalContent {

    

    a {

        color: var.$clr-pink;
    
    }    

    img {

        border-radius: var.$ex-stdBorderRadius;
    }
}

.galleryDiv {

    border-radius: var.$ex-stdBorderRadius;

    background-color: adjust-color($color: var.$clr-offBlack, $lightness: 3%, $saturation: -20%);

}


.fourohfour {

    a {

        color: var.$clr-pink;
        
        font-size: 2rem;
    }


    > a:hover {

        transition:0.2s;

        color: var.$clr-pink;
        
    }


}


