@use "_var.scss" as var;
@use "sass:color" as clr;

nav {

    background-color:clr.adjust(var.$clr-offBlack-trans, $lightness: -15%, $alpha: 0.05);

    box-shadow: 0 5% 30% clr.adjust(var.$clr-offBlack-trans, $lightness: -5%);
    backdrop-filter: blur(8.3px);


    > * {

        transition: 0.2s;

        color: var.$clr-green;

    }

    > a:hover {

        transition:0.2s;

        color: var.$clr-pink;
        
    }


}

.content {

    background-color: var.$clr-offBlack;
}

hr {

    border: var.$clr-green solid 1px;

    margin-top: 5%;

    margin-bottom: 5%;
}

.insertedDiv {

    margin-top: 5%;

    padding: 2%;

    border-radius: 6px;

    border: 1px solid var.$clr-green-trans;
}

.internalContent {

    a {

        color: var.$clr-pink;
    
    }    

    img {

        padding: 0;
    
        margin: 0;
    
        border: 1px solid var.$clr-green-trans;

        border-radius: 6px;
    }
}

.galleryDiv {

    border: 1px solid var.$clr-green-trans;

    border-radius: 6px;

    margin: 5px;

}


.fourohfour {

    a {

        color: var.$clr-pink;
        
        font-size: 2rem;
    }


    > a:hover {

        transition:0.2s;

        color: var.$clr-pink;
        
    }


}
