@use "_var.scss" as var;
@use "sass:color" as clr;


div.heroDiv {

    //background-image: linear-gradient(clr.adjust(var.$clr-offBlack, $alpha: -0.16),var.$clr-offBlack), url(https://res.cloudinary.com/dvyvtmbgp/image/upload/v1717088674/3ds.jpg);

    background-size: cover;

    z-index: 1;

    height:calc(40vh + 5vh);

    transform: translateY(-5vh);

    display: flex;

    flex-direction: column;

    justify-content: space-around;

    padding:10% 5% 10% 5%;

    align-items: center;

    > .textContainer {

        border-radius: var.$ex-stdBorderRadius;
        filter: drop-shadow(0px 0px 10px var.$clr-green-trans);

        width:80vw;

        text-align: center;

        > * {

            margin: 5% 5% 5% 5%;
        }

        > h1 {

            font-size: 3rem;
        }

    }

}



@media screen and (max-width:900px) {

    div.heroDiv {

        align-items: center;
    }


    div.heroDiv > .textContainer {

        width: 80vw;
        text-align: center;
    
    }

    
}