@use "_var.scss" as var;

.grn {

    background-color: var.$clr-green;

    animation-name: slideUpAnim;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;

}

.blu {

    background-color: var.$clr-blu;
    

    animation-name: slideUpAnim;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;

    
}

.pnk {

    background-color: var.$clr-pink;

    animation-name: slideUpAnim;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;

}

.slideUp {

    height: 120vh;
    width: 100vw;

    display:block;
    position:absolute;

    z-index: 1000;

    will-change: transform;

}

@keyframes slideUpAnim {

    0% {

        opacity: 100%;

        transform: translateY(0vh);

    }

    98% {

        opacity:100%;

        transform:translateY(-210vh)

    }

    99% {

    
    }

    100% {

        opacity: 0%;

        transform:translateY(-300vh)

    }
    
}

@media (prefers-reduced-motion) {

    // do not play animations if user prefers reduced motion (they can be a lot)

    .pnk {

        animation: none;
        display: none;
    }

    .grn {

        animation: none;
        display: none;
    }

    .blu {

        animation: none;
        display: none;
    }
}
