@use "_var.scss" as var;
@use "sass:color" as clr;

@media screen and (max-width:900px) {

    .staticContent, .internalContent {

        margin:5%;
    }

    .scrollyGuy img {

        height: 200px;
    }

    .qapair .imgTxtGroup {

        flex-direction: column;
    }

    .qapair img {

        padding: 5% 0 0 0;
    }

    .internalContent > a, .internalContent > img, .internalContent > h1, .internalContent > h2, .internalContent > h3, .internalContent > h4, .internalContent > h5, .internalContent > h6 {

        width:100%;
    }

    .internalCard > h2 {

        font-size: 1.8rem;

    }

    .internalCard > p {

        font-size: 1.2rem;

    }

    .galleryDiv img, .internalContent img, .galleryDiv p{

        width: 100%;

        max-width: 100%;
    }
    
    nav > ul {

        height: 10vw;

        font-size: 1.5rem;
    }

    .internalCard {

        display: flex;

        flex-direction: column;
    }

    .internalContent div > a {

        display: flex;

        font-size: 2rem;

        padding: 2vw 2vh;

        border: 1px solid var.$clr-pink;

        border-radius: 6px;

        max-width: 100%;

        justify-content: center;

        margin-top: 5%;
        
    }


    
}

@media screen and (max-width:500px) {

    .galleryDiv img, .internalContent img {

        width: 100%;

        max-width: 100%;
    }

    h2 {

        font-size: 1.8rem;
    }

    p {

        font-size: 1.3rem;
    }

    nav > ul{

        height: 10vw;

        font-size: 1.2rem;

        justify-content: space-around;
    }

    .heroDiv .textContainer h2{

        font-size: 20px;

    }

    .internalContent div > a{

        font-size: 2rem;

        padding: 2%;

        border: 1px solid var.$clr-pink;

        border-radius: 6px;

        text-align: center;

        margin-bottom: 5%;

    }


    
}