@use "_var.scss" as var;

nav > ul {

    height: 8vh;

    display:flex;

    align-items: center;

    justify-content: left;

    position: relative;

    z-index: 2;

    font-size: 1.5em;
   
    > * {

        padding: 0 2% 0 2%;
    }

}

.internalContent, .staticContent {

    margin: 0 15% 0 15%;

    justify-content: center;

    line-height: 1.8;

    /* align-items: center; */

    > * {

        display: flex;

        flex-direction: column;
        

        img {

            align-self: center;

            width:100%;
            
        }

    }

}

.internalCard {

    padding: 5%;
}

.internalContent.gallery{

    display: flex;

    flex-direction: row !important;

    // grid-template-columns: auto auto;

    flex-wrap: wrap;

    // text-align: center;

    margin: 5%;

}

.galleryDiv {

    margin: 5px;


    p,a,img,h1,h2,h3,h4,h5,h6 {

        width:auto;

        max-width: 40vw;
    }
}

hr {

    width: 60vw;

}

.fourohfour {

    align-items: center;

    text-align: center;

    h1 {

        font-size: 5rem;
    }

    p {

        font-size: 2rem;
    }

    > * {

        padding-top: 5%;

    }

}

.img {

    padding: 0;
    
    margin: 0;
}

.insertedDiv {

    margin-top: 5%;

    border-radius: var.$ex-stdBorderRadius;
}

.qapair {

    padding: 2% 0 2% 0;

        .imgTxtGroup {

        display: flex;

        flex-direction: row;

        img {

            width: 50%;

            margin: 0 0 0 5%;
        }
    }

    p {

        padding: 1% 0 1% 0;
    }
}

.qapair h2 {

    font-size: 2em;
}

.qapair p {

    font-size: 1.2em;


}