<div class="heroDiv" role="banner" alt="" style= "background-image: linear-gradient(rgba(0, 0, 0, 0.84), #000000db), url(https://res.cloudinary.com/dvyvtmbgp/image/upload/c_pad,w_800/v1717088674/3ds.jpg)" fetchpriority="high">
    <div class="textContainer">
        <h1> {{ heroTitle }}:</h1>
        <h2> {{ heroDesc }}</h2>
    </div>
</div>