<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://res.cloudinary.com/dvyvtmbgp/image/upload/v1740953937/favicon_gr9dgd.svg" />


    <title> {{title}} </title>

        <style> 

            <!-- styles to be applied when page loads, hopefully makes FOUC less Bad-->

            body {

                background-color:black;

                overflow-x: hidden;
            }

        </style>

    <link rel="stylesheet" href="../css/style.css">

    {%if (title != "404")%}

        <script defer src="../js/main.js"> </script>

    {%endif%}


</head>
<body class="content">

    <header>

        {% include './nav.html' %}

    </header>

    {%if (title != "404")%}

        {%include './hero.njk'%}

    {%endif%}

    {{content | safe}}
    
</body>
</html>