<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm a Web Developer / Designer. I do freelance work. I don't like bad software. Let's make something good instead.">
    <link rel="icon" href="https://res.cloudinary.com/dvyvtmbgp/image/upload/v1740953937/favicon_gr9dgd.svg" />

    <link rel="canonical" href="https://potentialenergy.xyz/"/>


    <title> {{title}} </title>

        <style> 

            <!-- styles to be applied when page loads, hopefully makes FOUC less Bad-->

            body {

                background-color:black;

                overflow-x: hidden;
            }

        </style>

    <link rel="stylesheet" href="../css/style.css">

    <!-- todo: fix edge case where if 404 occurs inside directory, this link points to nothin !--> 

    {%if (title != "404")%}

        <script defer src="../js/main.js"> </script>

    {%endif%}


</head>
<body class="content">
    <main role="main">

        <header>

            {% include './nav.html' %}

        </header>

        {%if (title != "404")%}

            {%include './hero.njk'%}

        {%endif%}

        {% include './loadAnim.html' %}

        {{content | safe}}

        {%include './footer.html'%}

    </main>
    
</body>
</html>